*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 18px; }

*, *:before, *:after 

{ box-sizing: border-box; }

body {
    margin: 5px;
    padding: 10px;
    color: #6fb3b8ff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    background: #f6f6f2ff;
    overflow-x: hidden;
}

h1 {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    color: teal;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: justify;
}

hr {
    margin: auto;
    width: 150px;
    border: 1px solid #ec9a29ff;
    border-radius: 50px;
    justify-content: center;
}

/* Header CSS */
#showcase {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#showcase img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding: 20px;
}

#showcase img.responsive {
    margin-top: 10vh;
    width: 100%;
    max-width: 250px;
    height: auto;
}

#showcase img.leaf {
    width: 100%;
    max-width: 100px;
    height: auto;
}

#showcase h1 {
    font-family: 'Raleway', sans-serif;
    color: teal;
    font-size: 30px;
    line-height: 1.2;
}

#showcase p {
    font-size: 15px;
    text-align: justify;
    text-align-last: center;
}

#showcase hr {
    margin: 5px 10px 20px 10px;
    width: 150px;
    border: 1px solid #ec9a29ff;
    border-radius: 50px;
}
/* Hamburger nav css */
/* Style the header links */
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #f6f6f2ff;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #6fb3b8ff, 0 0 0 0 #6fb3b8ff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #6fb3b8ff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #6fb3b8ff; 
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #f6f6f2ff, 0 0 0 100vh #f6f6f2ff;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #388087ff;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  
}
/* Hamburger nav css */

/* image slider css */
#section-a {
    padding: 20px;
    text-align: center;
}

.slider {
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    /* allow for scrolling */
    overflow-x: auto;
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
}

.slider > div {
    flex-shrink: 0;
    width: 100%;
    height: 300px;
}


@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }